

<form>
<section>
    <div class="card card-necto">
        <div class="card-header bordered card-header-sm">
            <div class="header-block">
                <p class="title">NECTO Form  </p>
                <small>formulário padrão da</small>
            </div>
            <div class="header-block pull-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Salvar</button>
                    <button type="cancel" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="form-row">
                <div class="form-group col">
                    <label for="inputEmail4">Nome</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nome">
                    <small id="campoHelpBlock" class="form-text text-muted"> informe o nome completo</small>
                </div>
                <div class="form-group col">
                    <label for="inputPassword4">Cargo</label>
                    <input type="text" class="form-control required" id="text" placeholder="cargo">
                </div>
            </div>
            <fieldset>
                <legend>Campos do Fieldset Endereço  </legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Logradouro</label>
                        <input type="text" class="form-control" id="inputCity">

                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputnumero">numero</label>
                        <input type="text" class="form-control" id="numero">
                        <div class="invalid-tooltip">O número é obrigatório</div>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">Complemento</label>
                        <input type="text" class="form-control" placeholder="complemento é um campo 'readonly'" id="inputComplemento" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputRegion">Bairro</label>
                        <input type="text" readonly class="form-control-plaintext" placeholder="este texto é um INPUT 'readonly' + class='form-control-plaintext' " id="plaintext" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">

                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control ">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control " id="inputZip">
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="formGroupExampleInput">Label para CheckBoxes: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="cancel" class="btn btn-secondary">Cancelar</button>
            <div class="pull-right">
                <a href="../"><i class="fa fa-arrow-circle-left"></i> voltar a "(nome tela)"</a>
            </div>
        </div>
    </div>

</section>
</form>




