<nav id="menu-container" class="menu">
   <ul class="sidebar-menu metismenu" id="main-menu">
      <li class="active">
         <a class="has-arrow" href="#" aria-expanded="false"><i class="fas fa-table"></i>Table</a>
         <ul class="sidebar-nav">
            <li><a href="necto_table.html">Necto Table</a></li>
            <li><a href="necto_card_table.html">Necto Card Table</a></li>
            <li><a href=""><i class="fas fa-user-check"></i>Necto Login</a></li>
            <li><a href=""><i class="fab fa-avianex"></i>Necto Login 2</a></li>
         </ul>
      </li>
      <li class="active">
         <a class="has-arrow" href="#" aria-expanded="false"> <i class="far fa-clipboard"></i> Form</a>
         <ul class="sidebar-nav">
            <li><a href="necto_form.html"> Necto Form</a></li>
            <li><a href="">item 2 menu 1</a></li>
            <li><a href="">item 3 menu 1</a></li>
         </ul>
      </li>
      <li class="active">
         <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-info fa-fw "></i>How Tos</a>
         <ul class="sidebar-nav">
            <li><a href="necto_blank.html">Página em Branco</a></li>
            <li><a href="#">Hierarquia de Blocos (*Block Inheritance*)</a></li>
         </ul>
      </li>
   </ul>
</nav>