<footer class="sidebar-footer">
   <ul class="sidebar-menu metismenu" id="admin-menu">
      <li class="active">
         <a class="has-arrow" href="#" aria-expanded="false">Menu 1</a>
         <ul>
            <li><a href=""><i class="fas fa-random"></i></a> </li>
            <li><a href="">Teste 1 </a></li>
            <li><a href=""><i class="fa fa-random"></i>Item</a></li>
            <li><a href=""><i class="fa fa-random"></i>Item</a></li>
            <li><a href=""><i class="fa fa-random"></i>Item</a></li>
            <li><a href=""><i class="fab fa-avianex"></i>Item</a></li>
         </ul>
      </li>
   </ul>
</footer>   