{% extends "_main_layout_table.njk" %}

{% block page_title %}  Template "TABLE" {% endblock page_title %}


{% block content %}
<section class="">
<div class="table-responsive">
            <table id="myTable" class="table table-sm table-hover table-striped" aria-describedby="myTable_info" role="grid">
               <!-- thead -->
               <thead>
                  <tr role="row">
                     <th rowspan="1">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        </div>
                     </th>
                     <th class="align-middle sort" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label=" Inventory : activate to sort column ascending"> Coluna 2 </th>
                     <th class="align-middle sort" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label=" Inventory : activate to sort column ascending"> Coluna 3 </th>
                     <th class="align-middle sort" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label=" Variants : activate to sort column ascending"> Coluna 4 </th>
                     <th class="align-middle sort" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label=" Prices : activate to sort column ascending"> Coluna 5 </th>
                     <th class="align-middle sort" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label=" Sales : activate to sort column ascending"> Coluna 6 </th>
                     <th style="width:100px; min-width:100px;" class="align-middle text-right sorting_disabled" rowspan="1" colspan="1" aria-label=" &amp;nbsp; "> &nbsp; </th>
                  </tr>
               </thead>
               <!-- /thead -->
               <tbody>
                  <tr role="row" class="odd">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#598">Lorem ipsum dolor sit amet</a></td>
                     <td class=" align-middle">131</td>
                     <td class=" align-middle">6</td>
                     <td class=" align-middle">$31.51</td>
                     <td class=" align-middle">308</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">consectetur adipisicing elit</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#598">sed do eiusmod</a></td>
                     <td class=" align-middle">131</td>
                     <td class=" align-middle">6</td>
                     <td class=" align-middle">$31.51</td>
                     <td class=" align-middle">308</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">tempor incididunt ut labore et dolore</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#598">magna aliqua</a></td>
                     <td class=" align-middle">131</td>
                     <td class=" align-middle">6</td>
                     <td class=" align-middle">$31.51</td>
                     <td class=" align-middle">308</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">Ut enim ad minim veniam</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#598">quis nostrud exercitation</a></td>
                     <td class=" align-middle">131</td>
                     <td class=" align-middle">6</td>
                     <td class=" align-middle">$31.51</td>
                     <td class=" align-middle">308</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">ullamco laboris</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                                    <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">ullamco laboris</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                                    <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">ullamco laboris</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                                    <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">ullamco laboris</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                                    <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">ullamco laboris</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                                    <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">ullamco laboris</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="odd">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#598">consequat. Duis aute irure dolor in</a></td>
                     <td class=" align-middle">131</td>
                     <td class=" align-middle">6</td>
                     <td class=" align-middle">$31.51</td>
                     <td class=" align-middle">308</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">reprehenderit in voluptate</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">reprehenderit in voluptate</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
                  <tr role="row" class="even">
                     <td class=" col-checker align-middle">
                        <div class="form-check">
                           <input class="form-check-input position-static" type="checkbox" id="<object_id>" aria-label="...">
                        </div>
                     </td>
                     <td class="align-middle sorting_1"><a href="#1000">reprehenderit in voluptate</a></td>
                     <td class=" align-middle">405</td>
                     <td class=" align-middle">5</td>
                     <td class=" align-middle">$33.80</td>
                     <td class=" align-middle">1569</td>
                     <td class=" align-middle text-right">
                        <a class="btn btn-sm btn-outline-secondary" href="#598"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-outline-danger" href="#598"><i class="far fa-trash-alt"></i></a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>


   <!-- /.card-body -->
</section>
{% endblock %}

